Checks: >-
  *,
  -altera*,
  -*braces-around-statements,
  -*osx*,
  -abseil*,
  -android*,
  -boost*,
  -bugprone-branch-clone,
  -bugprone-exception-escape,
  -bugprone-easily-swappable-parameters,
  -bugprone-empty-catch,
  -clang-analyzer-alpha.*,
  -clang-analyzer-core.StackAddressEscape,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cert-env33-c,
  -cert-err58-cpp,
  -cert-dcl58-cpp,
  -fuchsia*,
  -hicpp-no-array-decay,
  -hicpp-special-member-functions,
  -google-readability-todo,
  -google-default-arguments,
  -google-explicit-constructor,
  -google-build-using-namespace,
  -google-upgrade-*,
  -google-runtime-int,
  -hicpp-signed-bitwise,
  -hicpp-explicit-conversions,
  -llvmlibc-*,
  -llvm-header-guard,
  -llvm-namespace-comment,
  -llvm-prefer-register-over-unsigned,
  -llvm-twine-local,
  -misc-confusable-identifiers,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-const-correctness,
  -misc-include-cleaner,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -modernize-concat-nested-namespaces,
  -mpi*,
  -objc*,
  -openmp*,
  -performance-unnecessary-value-param,
  -readability-inconsistent-declaration-parameter-name,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-redundant-smartptr-get,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-const-return-type,
  -readability-simplify-boolean-expr,
  -readability-make-member-function-const,
  -darwin*,
  -zircon*
WarningsAsErrors: '*'
HeaderFilterRegex: 'src'
CheckOptions:
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           '_'
  - key:             readability-identifier-naming.PublicMemberSuffix
    value:           ''
  - key:             performance-unnecessary-value-param.AllowedTypes
    value:           shared_ptr;weak_ptr
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           1
  - key:             hicpp-special-member-functions.AllowSoleDefaultDtor
    value:           1
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           1
