AlignTrailingComments:                      true
BasedOnStyle:                               WebKit
BreakConstructorInitializersBeforeComma:    true
ColumnLimit:                                80
Cpp11BracedListStyle:                       true
IndentCaseLabels:                           true
NamespaceIndentation:                       None
PointerBindsToType:                         false
Standard:                                   Cpp11
BreakBeforeBinaryOperators:                 false
BreakBeforeBraces:                          Stroustrup
