compilation_database_dir: build
output_directory: puml
diagrams:
  myproject_class:
    type: class
    glob:
      - src/**.h
      - src/**.cc
    using_namespace:
      - myproject
    include:
      namespaces:
        - myproject
    exclude:
      namespaces:
        - myproject::detail
    plantuml:
      after:
        - 'note left of @A(MyProjectMain) : Main class of myproject library.'
  main_sequence_diagram:
    type: sequence
    glob:
      - src/main.cc
    using_namespace:
      - ""
    start_from:
      - usr: "c:@F@main#I#**1C#"
    include:
      namespaces:
        - clanguml
    exclude:
      namespaces:
        - std
        - CLI
    plantuml:
      before:
        - "' main test sequence diagram"
      after:
        - "' end"
