glob:
  - src/config/*.cc
compilation_database_dir: build
output_directory: puml
containers:
    vector:
        - std::vector
    map:
        - std::map
diagrams:
  config_class_diagram:
    type: class
    glob:
      - src/config/*.cc
      - src/config/*.h
    using_namespace: clanguml::config
    namespaces:
      - clanguml::config
    classes:
      - config
      - diagram
      - class_diagram
    methods:
      - public
      - protected
      - private
    members:
      - public
    puml:
      - 'note top of diagram: Aggregate template'
  class_diagram_model_class_diagram:
    type: class
    glob:
      - src/uml/class_diagram_model.h
    using_namespace: clanguml::model::class_diagram
    namespaces:
      - clanguml::model::class_diagram
    classes:
      - diagram
      - element
      - class_member
      - class_element
      - method_argument
      - class_method
      - class_parent
      - class_relationship
      - class_
      - enum_
      - scope_t
      - relationship_t
    methods:
      - public
      - protected
      - private
    members:
      - public
    puml:
      - 'note top of diagram: Aggregate template'
