#!/usr/bin/make -f

export DH_VERBOSE=1
export CLANGUML_GIT_TOPLEVEL_DIR=$(CURDIR)


override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- -DCMAKE_BUILD_TYPE=release -DCMAKE_INSTALL_PREFIX=/usr


%:
	dh $@
